<button class="pf-c-button{{#if button--modifier}} {{button--modifier}}{{/if}}"
  {{#if button--attribute}}
    {{{ button--attribute}}}
  {{/if}}
>
  {{#if button--HasPlusCircleIcon}}
    {{> button-plus-circle-icon}}
  {{/if}}
  {{#if button--HasTimesIcon}}
    {{> button-times-icon}}
  {{/if}}
  {{> @partial-block}}
</button>